* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

:root{
    --blue: #44a1d4;
}

.painel {
    background-color: #333;
    width: 200px;
    height: 98vh;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.painel-header {
    background-color: var(--blue);
    height: 80px;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 0;
}

.macaneta {
    width: 100%;
    height: 25px;
    border-radius: 0 0 10px 10px;
    background-color: #2888cd;
    display: grid;
    place-items: center;
    margin-top: -10px;
}

.macaneta:hover {
   cursor: grab;
}

.macaneta:active {
    cursor: grabbing;
 }

.d3-canvas {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.button {
    background-color: #61bbeb;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 4fr;
    border-radius: 5px;
    margin: 4px 8px;
    overflow: hidden;
}

.button .icon{
    background-color: var(--blue);
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

.button .label{
    display: grid;
    place-content: center;
    padding: 5px 0;
}

.chip-switch:hover{
    cursor: pointer;
}

.chip-switch.ativo {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    font-weight: bold;
}